/* Responsive */

/* Swiper */
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.swiper-slide figure {
  /* margin: 0; */
  margin-top: -4rem;
  /* border:2px solid blue; */
  display: flex;
  height: auto;
  align-items: start;
}

.swiper-slide figcaption{
  display: flex;
  padding: -10rem 0rem;
  justify-content: center;
  align-items: end;
  width: 100%;
  font-size: 5rem;
  letter-spacing: 2px;
  margin: 0;
  /* border:2px solid red; */
  bottom: 0px;
  color: #fff;
  text-align: center;
  margin-left: 41%;
  transform: translate3d(-50%, 150%, 0);
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  font-weight: 500;
}

.swiper-slide-active figcaption {
  transform: translate3d(-32%, 0, 0);
  /* opacity: 1; */
}

.swiper-pagination-horizontal{
  --swiper-pagination-top:44rem;
  --swiper-pagination-bullet-horizontal-gap:5px;
}
.swiper-pagination-bullet{
  /* --swiper-pagination-bullet-margin:1rem; */
  --swiper-pagination-bullet-height:15px;
  --swiper-pagination-bullet-width:15px;
  border: 2px solid cyan;
  --swiper-pagination-bullet-border-radius:0;
  --swiper-pagination-bullet-inactive-opacity:.5;
}

.swiper-pagination-bullet-active{
  --swiper-theme-color:cyan;
}

/* Breakpoint for screen size >= 310px */
@media (min-width: 310px) {
  .swiper-slide figure {
    /* border:2px solid red; */
    /* margin: 0; */
    margin-top: -1.3rem;
  }
  .swiper-slide figcaption{
    font-size: 40px;
    line-height: 43px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 28rem;
  }

  .swiper-pagination-horizontal{
    /* border:2px solid red; */
    --swiper-pagination-top:33rem;
    --swiper-pagination-bullet-horizontal-gap:14px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:13px;
    --swiper-pagination-bullet-width:13px;
  }
}
@media (min-width: 310px) {
  .swiper-slide figure {
    /* border:2px solid red; */
    /* margin: 0; */
    margin-top: -1.3rem;
  }
  .swiper-slide figcaption{
    font-size: 40px;
    line-height: 43px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 28rem;
  }

  .swiper-pagination-horizontal{
    /* border:2px solid red; */
    --swiper-pagination-top:33rem;
    --swiper-pagination-bullet-horizontal-gap:14px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:13px;
    --swiper-pagination-bullet-width:13px;
  }
}

/* Breakpoint for screen size >= 641px */
@media (min-width: 641px) {
  .swiper-slide figure {
    /* border:2px solid red; */
    /* margin: 0; */
    margin-top: -1.5rem;
  }
  .swiper-slide figcaption{
    font-size: 40px;
    line-height: 50px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 40rem;
  }

  .swiper-pagination-horizontal{
    --swiper-pagination-top:43rem;
    --swiper-pagination-bullet-horizontal-gap:8px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:15px;
    --swiper-pagination-bullet-width:15px;
  }
}

/* Breakpoint for screen size >= 769px */
@media (min-width: 769px) {
  .swiper-slide figure {
    /* border:2px solid red; */
    /* margin: 0; */
    margin-top: -1.5rem;
  }
  .swiper-slide figcaption{
    font-size: 50px;
    line-height: 50px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 35rem;
  }

  .swiper-pagination-horizontal{
    --swiper-pagination-top:39.9rem;
    --swiper-pagination-bullet-horizontal-gap:5px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:14px;
    --swiper-pagination-bullet-width:14px;
  }
}

/* Breakpoint for screen size >= 1025px */
@media (min-width: 1025px) {
  .swiper-slide figure {
    /* border:2px solid red; */
    /* margin: 0; */
    margin-top: -1.6rem;
  }
  .swiper-slide figcaption{
    font-size: 55px;
    line-height: 50px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 35rem;
  }
  .swiper-pagination-horizontal{
    --swiper-pagination-top:39.9rem;
    --swiper-pagination-bullet-horizontal-gap:5px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:14px;
    --swiper-pagination-bullet-width:14px;
  }
}

@media (min-width: 1281px) {
  .swiper-slide figure {
    /* margin: 0; */
    /* margin-top: -rem; */
  }
  .swiper-slide figcaption{
    font-size: 55px;
    line-height: 50px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 37rem;
  }
  .swiper-pagination-horizontal{
    --swiper-pagination-top:40rem;
    --swiper-pagination-bullet-horizontal-gap:5px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:14px;
    --swiper-pagination-bullet-width:14px;
  }
}
@media (min-width: 1537px) {
  .swiper-slide figure {
    /* margin: 0; */
    /* margin-top: -rem; */
  }
  .swiper-slide figcaption{
    font-size: 70px;
    line-height: 50px;
    /* border:2px solid red; */
  }
  .swiper-slide img {
    height: 37rem;
  }
  .swiper-pagination-horizontal{
    --swiper-pagination-top:43rem;
    --swiper-pagination-bullet-horizontal-gap:8px;
  }
  .swiper-pagination-bullet{
    /* --swiper-pagination-bullet-margin:1rem; */
    --swiper-pagination-bullet-height:16px;
    --swiper-pagination-bullet-width:16px;
  }
}


/* @media screen and (max-width: 800px) {
  .swiper-slide img {
      height: 20rem;
  }

  .swiper-slide figcaption {
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
      background-color: var(--black-90);
  }

  .swiper-custom-nav {
      display: none;
  }
} */

.Namepro{
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.Namepro:hover {
  font-size: 6rem;
  color:  whitesmoke;
  text-shadow: 0px 0px 30px #ccc7b9ff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}


