/* CSS HEX */
/* --bone: #ccc7b9ff;
--nyanza: #eaf9d9ff;
--pearl: #e2d4baff; 
--old-rose: #af7a6dff;
--wine: #653239ff; */

/* CSS HSL */
/* --bone: hsla(44, 16%, 76%, 1);
--nyanza: hsla(88, 73%, 91%, 1);
--pearl: hsla(39, 41%, 81%, 1);
--old-rose: hsla(12, 29%, 56%, 1);
--wine: hsla(352, 34%, 30%, 1); */

/* CSS HEX */
/* --burnt-umber: #8c271eff;
--khaki: #aba194ff;
--timberwolf: #cfcbcaff;
--platinum: #d8dddeff;
--light-cyan: #d9f7faff; */

/* CSS HSL */
/* --burnt-umber: hsla(5, 65%, 33%, 1);
--khaki: hsla(34, 12%, 63%, 1);
--timberwolf: hsla(12, 5%, 80%, 1);
--platinum: hsla(190, 8%, 86%, 1);
--light-cyan: hsla(185, 77%, 92%, 1); */